<hr>
<div class="row">
    <div class="col-md-6">
        <label for="name">Name: </label>
        <input type="text" [(ngModel)]="filteredName" name="name">
    </div>
    <div class="col-md-6">
        <label for="location">Location: </label>
        <input type="text" [(ngModel)]="filteredLocation" name="location">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-5" style="margin-left: 22px;">
        <h3>Name</h3>
    </div>
    <div class="col-md-4" style="margin-left: -20px;">
        <h3>Locations</h3>
    </div>
    <div class="col-md-1" style="margin-left: 115px;">
        <h3>Rating</h3>
    </div>
</div>
<div class="row scroll" style="height: 420px;">
    <div class="col-md-12">
        <app-rent-a-car-item
            class="list-group-item" 
            *ngFor="let rentACarEl of rentACars 
            | filter:filteredName:'name'
            | filter:filteredLocation:'locations'
            ; let i = index"
            [rentACar]="rentACarEl"
            [name]="rentACarEl.name">
        </app-rent-a-car-item>
    </div>
</div>