<div class="row">
    <div class="col-md-5 mat-h2">
        Do you need a vehicle to make your trip more comfortable?
    </div>
    <div class="col-md-2">
        <button 
                mat-raised-button 
                color="primary"
                (click)="SearchVehicles()">
                Yes
            </button>
    </div>
</div>
<div class="row" *ngIf="toDateMax == null">
    <div class="col-md-12">
        <mat-form-field appearance="fill">
            <mat-label>To Date</mat-label>
            <input
                (dateInput)="OnDateChange($event.value)"
                matInput 
                [matDatepicker]="picker" 
                placeholder="To"
                [min]="fromDate"
                [max]="toDateMax"
                id="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col-md-12" *ngIf="showTable">
        <div *ngFor="let vehicle of vehicles;">
            <app-vehicle-sale-item 
            [location]='location' 
            [fromDate]='fromDate' 
            [toDate]='toDate' 
            [vehicle]="vehicle" 
            [discount]="discount" 
            [numberOfDays]="numberOfDays">
        </app-vehicle-sale-item>
        </div>
    </div>
</div>