<div class="row">
    <div class="col-md-2 form-group">
        <label for="pickUp">Pick up from: </label>
        <select class="form-control" id="pickUp" style="width: 180px;" [(ngModel)]="pickUpLocation">
            <option *ngFor="let location of pickUpLocations" [value]="location">{{ location }}</option>
        </select>
    </div>
    <div class="col-md-2 form-group">
        <label for="pickUp">Pick up date: </label>
        <mat-form-field style="width: 150px; height: 40px;">
            <input matInput [matDatepicker]="pickerUp">
            <mat-datepicker-toggle matSuffix [for]="pickerUp"></mat-datepicker-toggle>
            <mat-datepicker #pickerUp></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-2 form-group">
        <label for="returnTo">Return to: </label>
        <select class="form-control" id="returnTo" style="width: 180px;" [(ngModel)]="returnToLocation">
            <option *ngFor="let location of returnToLocations" [value]="location">{{ location }}</option>
        </select>
    </div>
    <div class="col-md-2 form-group">
        <label for="pickUp">Return date: </label>
        <mat-form-field style="width: 150px; height: 40px;">
            <input matInput [matDatepicker]="pickerTo">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-2 form-group">
        <label for="type">Type: </label>
        <select class="form-control" id="type" style="width: 180px;" [(ngModel)]="type">
            <option *ngFor="let type of vehicleTypes" [value]="type">{{ type }}</option>
        </select>
    </div>
    <!-- <div class="col-md-6">
        <label for="location">Location: </label>
        <input type="text" [(ngModel)]="filteredLocation" name="location">
    </div> -->
</div>
<hr>
<div class="row">
    <div class="col-md-2" style="margin-left: 30px;">
        <h6>Brand</h6>
    </div>
    <div class="col-md-1" style="margin-right: 50px;">
        <h6>Year</h6>
    </div>
    <div class="col-md-1" >
        <h6>Seats</h6>
    </div>
    <div class="col-md-1">
        <h6>Total Price</h6>
    </div>
    <div class="col-md-1">
        <h6>Rating</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-7 scroll" style="height: 230px;">
        <app-vehicle-item
            class="list-group-item"  
            *ngFor="let vehicleEl of rentACar.vehicles 
            | filter:type:'type'
            | filter:pickUpLocation:'location'
            ; let i = index"
            [vehicle]="vehicleEl"
            [index]="rentACar.vehicles.indexOf(vehicleEl)"
            [rentACar]="rentACar">
        </app-vehicle-item>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>