<div class="row">
    <div class="col-md-6">
        <h1>{{airline.name}}</h1>
        <p>{{airline.address}}</p>
        <p>{{airline.description}}</p>
    </div>
    <div class="col-md-6">
        <div #mapContainer id="map"></div>
        <button
            mat-raised-button 
            color="primary"
            (click)="onEdit()"
            *ngIf="admin">
            Edit Info
        </button>
    </div>
</div>

<mat-list>
    <app-flight *ngFor="let flight of airline.flights" [back]="'two'"
    [flight]="flight" [showLink]="true"></app-flight>
</mat-list>