<div class="row">
    <div class="col-md-6">
        <h1>{{airline.name}}</h1>
        <p>{{airline.address}}</p>
        <p>{{airline.description}}</p>
    </div>
    <div class="col-md-6">
        <div #mapContainer id="map"></div>
        <button
            mat-raised-button 
            color="primary"
            (click)="onEdit()"
            *ngIf="admin">
            Edit Info
        </button>
    </div>
</div>
<div class="row" *ngIf="admin">
    <mat-form-field class="example-chip-list" appearance="fill">
        <mat-chip-list #chipList aria-label="Destnations">
          <mat-chip *ngFor="let destination of airline.destinations"
                   [removable]="removable" (removed)="remove(destination)" color="accent">
            {{destination}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New destination..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
</div>

<div class="row">
    <button (click)="
    fastTickets();
    " mat-raised-button color="accent">
        Fast reservation
    </button>
</div>

<router-outlet></router-outlet>