<a 
    [routerLink]="['../../../list']"
    routerLinkActive="active"
    mat-mini-fab >
    <mat-icon>arrow_back</mat-icon>
</a>
<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Choose seats</ng-template>
    <app-seat-selector [flight]="flight1" [type]="classType"></app-seat-selector>
    <button mat-button matStepperNext color="primary" [disabled]="checked">Next</button>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Enter passenger/s information</ng-template>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext color="primary">Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset(); Reset()">Reset</button>
      <button mat-raised-button color="primary" (click)="Done()"> Done </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>