<div class="row">
    <div class="col-md-3">
        {{user.name}} {{user.surname}}    
    </div>
    <div class="col-md-3">
        {{user.userName}}
    </div>
    <div class="col-md-6">
        <button mat-raised-button color="primary" (click)="Accept()" *ngIf="request">
            Accept Request
        </button>
        <button mat-raised-button color="warn" (click)="Decline()" *ngIf="request">
            Decline Request
        </button>
        <button mat-raised-button color="primary" (click)="Add()">
            Add Friend
        </button>
        <button mat-raised-button color="warn" (click)="Remove()" *ngIf="friend">
            Remove Friend
        </button>
    </div>
</div>