<div class="row">
    <table>
        <tr>
            <th>Vehicle</th>
            <td>{{ vehicle.brand }}, {{ vehicle.type }}, {{ vehicle.numOfSeats }} seats</td>
        </tr>
        <tr>
            <th>From</th>
            <td>{{ pickUpDate | date:'MM/dd/yyyy'}}, {{ pickUpLocation }}</td>
        </tr>
        <tr>
            <th>To</th>
            <td>{{ returnDate | date:'MM/dd/yyyy'}}, {{ returnLocation }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ (rentACar.pricelist[vehicle.type] + vehicle.pricePerDay * numOfDays) | currency: 'EUR':true }}</td>
        </tr>
        <tr class="last">
            <td>
                <button 
                    mat-raised-button 
                    class="btn-success">
                    Confirm
                </button>
            </td>
            <td>
                <button 
                    mat-raised-button 
                    color="warn"
                    (click)="onCancel()">
                    Cancel
                </button></td>
        </tr>
    </table>
</div>