<div class="row">
    <table>
        <tr>
            <th>Brand</th>
            <td>{{ vehicle.brand }}</td>
        </tr>
        <tr>
            <th>Year</th>
            <td>{{ vehicle.year }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ vehicle.type }}</td>
        </tr>
        <tr>
            <th>Seats</th>
            <td>{{ vehicle.numOfSeats }}</td>
        </tr>
        <tr>
            <th>Price Per Day</th>
            <td>{{ vehicle.pricePerDay | currency: 'EUR':true }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ vehicle.location }}</td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>{{ vehicle.rating }}</td>
        </tr>
        <tr class="last">
            <td>
                <button 
                    *ngIf="isAdmin"
                    mat-raised-button 
                    color="warn"
                    (click)="onRemoveVehicle()">
                    Remove Vehicle
                </button>
            </td>
            <td>
                <button 
                    *ngIf="!isAdmin"
                    mat-raised-button 
                    color="primary"
                    (click)="onReserve()">
                    Reserve
                </button>
                <button 
                    *ngIf="isAdmin"
                    mat-raised-button 
                    color="primary"
                    (click)="onEditVehicle()">
                    Edit Vehicle
                </button>
            </td>
        </tr>
    </table>
</div>