<div class="row">
    <div class="col-md-6">
        <mat-list>
            <mat-list-item>
                <div mat-line>
                    <a [routerLink]="[backStr,flight.airlineId, 'details']">
                        {{flight.airlineName}}
                    </a>
                </div>
                <div mat-line>
                    Origin: {{flight.origin}}
                </div>
                <div mat-line>
                    Destination : {{flight.destination}}
                </div>
                <div mat-line>
                    Departure : {{flight.departure | date}}
                </div>
                <div mat-line>
                    Arrival : {{flight.arrival | date}}
                </div>
                <div mat-line>
                    Duration : {{flight.duration}}
                </div>
                <div mat-line>
                    Distance : {{flight.distance}}
                </div>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="col-md-6">   
    <mat-list>
        <mat-list-item>
            <div mat-line>
                num of connections: {{flight.conCount}}
            </div>
            <div mat-line>
                Connections:
                <div mat-line *ngFor="let con of flight.connections">
                    {{con}}
                </div>
            </div>
            <div mat-line *ngIf="showLink">
                <a [routerLink]="[backStr,flight.airlineId, flight.id, 'reservation']" routerLinkActive="active">
                    reserve
                </a>
            </div>
        </mat-list-item>
    </mat-list>
</div>
</div>