<a [routerLink]="[backStr,airlineId, 'details']">
    {{airlineName}}
</a>
<p>
    Departure : {{flight.departure | date}}
</p>
<p>
    Arrival : {{flight.arrival | date}}
</p>
<p>
    Duration : {{flight.duration}}
</p>
<p>
    Distance : {{flight.distance}}
</p>
<p>
    num of connecetions: {{count}}
</p>
<div>
    <p>Connections:</p>
    <p *ngFor="let con of flight.connections">{{con}}</p>
</div>
<a [routerLink]="[backStr,airlineId, flightId, 'reservation']" routerLinkActive="active">
    reserve
</a>