<div *ngFor="
    let f of flights|
    filter:flight.destination:'origin' |
    filter:flight.origin:'destination' |
    priceFilter:num:classType|
    dateFilter: ret
    ">
    To
    <app-flight 
    [back]="'one'"
    [flight]="flight" [admin]="admin"></app-flight>
    <br/>
    From
    <app-flight
    [back]="'one'"
    [flight]="f" [admin]="admin"></app-flight>
    <div mat-line>
        <a [routerLink]="[backStr,flight.airlineName, flight.id,f.airlineName,f.id,classType,'reservation']" routerLinkActive="active">
            reserve
        </a>
    </div>
</div>