<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="#" class="navbar-brand">Careoplane</a>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="airlines">Airlines</a></li>
                <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="rent-a-car">Rent A Car</a></li>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a
                    style="cursor: pointer;"
                     class="dropdown-toggle" 
                     role="button">
                     Manage <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;">Save Data</a></li>
                        <li><a style="cursor: pointer;">Fetch Data</a></li>
                    </ul>
                </li>
            </ul> -->
        </div>
</nav>

<!-- <mat-tab-group>
    <mat-tab label="Airlines" routerLink="airlines">
        <a routerLink="airlines">Airlines</a>
    </mat-tab>
    <mat-tab label="Two">
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
  </mat-tab-group> -->