<mat-tab-group>
    <mat-tab label="Friends">
        <div class="example-large-box mat-elevation-z4">
            <app-friends-list [type]="'friends'">
            </app-friends-list>
        </div>
    </mat-tab>
    <mat-tab label="Requests">
        <div class="example-large-box mat-elevation-z4">
            <app-friends-list [type]="'requests'">
            </app-friends-list>
        </div>
    </mat-tab>
    <mat-tab label="Add Friends">
        <div class="example-large-box mat-elevation-z4">
            <app-friends-list [type]="'search'">
            </app-friends-list>
        </div>
    </mat-tab>
</mat-tab-group>