<div class="row">
    <a 
        [routerLink]="['../../']"
        routerLinkActive="active"
        mat-mini-fab >
        <
    </a>
    <div class="col-md-2">
        <h1>{{ rentACar.name }}</h1>
        <h4>{{ rentACar.address }}</h4>
    </div>
    <div class="col-md-4">
        <div #mapContainer id="map" style="width: 300px; height: 130px;"></div>
    </div>
    <div class="col-md-3">
        <p style="word-wrap: break-word;">{{ rentACar.description }}</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <app-vehicle-list [rentACar]="rentACar"></app-vehicle-list>
    </div>
</div>